@import './base.css';

#app {
  padding: 0 1rem;
  font-weight: normal;
}

/* Transitions */

.loading-enter-active, .loading-leave-active {
  transition: opacity 0.3s ease;
}
.loading-enter-from, .loading-leave-to {
  opacity: 0;
}
.loading-enter-to, .loading-leave-from {
  opacity: 1;
}
